.NewOrderPage {
   background-color: gray;
   /* opacity: 50%; */
background-size: cover;
}

span.NewOrder{
color: white;
}
.CategoryList{
    text-align: center;
    display:flex;
}

span {
    text-align: center;
   
}


.align-ctr{
    color: white;
}

.ext-price{
    color: #3f1b2b;
}

.active {
   align-items: flex-end;
}